$transition-duraction: 0.3s;

.form-elem {
  position: relative;

  input {
    --p-block: 10px;
    --p-inline: 1rem;
    --color: #000;
    --font-size: 1rem;
    --max-width: 240px;

    max-width: var(--max-width);
    display: block;
    padding-inline: var(--p-inline);
    padding-block: var(--p-block);
    font-size: var(--font-size);
    color: var(--color);
    border: none;
    transition-duration: $transition-duraction;

    &:focus {
      outline: none;
    }
  }
}

//============================================
// INPUTS
.shadow-rotate {
  --bg-color: rgba(219, 161, 219, 0.8);
  --radius: 10px;
  --color: #222;

  background-color: var(--bg-color);
  border-radius: var(--radius);
  color: var(--color);

  &:focus {
    animation: rotateShadow 2s infinite linear;
  }
}
@keyframes rotateShadow {
  0% {
    box-shadow:
      -2px -2px 8px 1px #d4b1e5,
      2px 2px 8px 1px #958db0;
  }
  25% {
    box-shadow:
      -2px 2px 8px 1px #d4b1e5,
      2px -2px 8px 1px #958db0;
  }
  50% {
    box-shadow:
      2px 2px 8px 1px #d4b1e5,
      -2px -2px 8px 1px #958db0;
  }
  75% {
    box-shadow:
      2px -2px 8px 1px #d4b1e5,
      -2px 2px 8px 1px #958db0;
  }
  100% {
    box-shadow:
      -2px -2px 8px 1px #d4b1e5,
      2px 2px 8px 1px #958db0;
  }
}
.move-placeholder {
  //КОНТЕНТ МАЄ БУТИ В 1 РЯДОК
  --p-inline: 1rem;
  --p-block: 0.75rem;
  --radius: 5px;
  --bg-color: #f1f1f1;
  --color: #000;

  input {
    padding-inline: var(--p-inline);
    padding-block: var(--p-block);
    border-radius: var(--radius);
    background-color: var(--bg-color);
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 0 5px transparent;
  }

  input:hover,
  input:focus {
    color: var(--color);
    box-shadow: 0 0 0 2px var(--color);
  }
  span {
    position: absolute;
    left: 0;
    top: 0;
    padding-inline: var(--p-inline);
    padding-block: var(--p-block);
    color: var(--color);
    transition: 0.3s ease-in-out;
    pointer-events: none;
  }
  input:focus + span,
  input:valid + span {
    transform: translateY(-32px) translateX(-5px) scale(0.95);
    transition: 0.3s ease-in-out;
  }
}
//****************************************************
.move-placeholder-border {
  //КОНТЕНТ МАЄ БУТИ В 1 РЯДОК
  --padding: 1rem;
  --color: #646464;
  --radius: 20px;

  input {
    padding: var(--padding);
    color: var(--color);
    border: 2px solid currentColor;
    background-color: transparent;
    border-radius: var(--radius);
    &:focus,
    &:valid {
      border-color: rgb(150, 150, 200);
    }
  }

  label {
    position: absolute;
    left: 0;
    top: 0;
    padding: var(--padding);
    pointer-events: none;
    transition: all 0.3s ease;
    color: var(--color);
    z-index: 2;
  }
  & input:focus ~ label,
  & input:valid ~ label {
    transform: translateY(-50%) scale(0.9);
    margin-left: calc(var(--padding) * 1.2);
  }
}
//***************************************************
.move-placeholder-line {
  //КОНТЕНТ МАЄ БУТИ В 1 РЯДОК
  --padding: 1rem;
  --color: #646464;

  input {
    padding: var(--padding);
    color: var(--color);
    border: 1px solid currentColor;
    background-color: transparent;
  }
  label {
    position: absolute;
    left: 0;
    top: 0;
    padding: var(--padding);
    pointer-events: none;
    transition: all 0.3s ease;
    color: var(--color);
    z-index: 2;
  }
  span {
    pointer-events: none;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 3px;
    background-color: #ae7d52;
    transform-origin: center;
    transform: translate(-50%, 0) scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  & input:focus ~ label,
  & input:valid ~ label {
    transform: translateY(-50%) scale(0.9);
    margin-left: calc(var(--padding) * 1.2);
  }
  & input:focus ~ span,
  & input:valid ~ span {
    transform: translate(-50%, 0) scaleX(1);
  }
}
//***************************************************
//CHECKBOXES
.ui-checkbox {
  --primary-color: #314056;
  --secondary-color: #f4eded;
  --primary-hover-color: #4096ff;

  /* checkbox */
  --checkbox-diameter: 20px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  /* checkmark */
  --checkmark-size: 1.2;

  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style)
    var(--checkbox-border-color);
  transition: all 0.3s;
  cursor: pointer;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
    border-radius: inherit;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  }
  &::before {
    top: 40%;
    left: 50%;
    content: "";
    position: absolute;
    width: 4px;
    height: 7px;
    border-right: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    opacity: 0;
    transition:
      all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),
      opacity 0.1s;
  }
  @include hover {
    border-color: var(--primary-color);
  }
  &:checked {
    background: var(--primary-color);
    border-color: transparent;
  }
  &:checked::before {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  }
  &:active:not(:checked)::after {
    box-shadow: none;
    transition: none;
    opacity: 1;
  }
}
//==================================================
.jelly-checkbox {
  .label {
    --checked-bg-color: #0a3371;
    --secondary-color: #f4eded;

    --checkbox-diameter: 40px;
    --checkbox-border-radius: 5px;
    --checkbox-border-color: #222;
    --checkbox-border-width: 2px;

    position: relative;
    width: var(--checkbox-diameter);
    height: var(--checkbox-diameter);
    border: var(--checkbox-border-width) solid var(--checkbox-border-color);
    border-radius: var(--checkbox-border-radius);
    transition: background 0.1s ease;
    cursor: pointer;
    display: block;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      translate: -50% -75%;
      width: 30%;
      height: 50%;
      opacity: 0;
      transform: rotate(45deg) scale(0);
      border-right: 4px solid var(--secondary-color);
      border-bottom: 4px solid var(--secondary-color);
      transition: all 0.3s ease;
      transition-delay: 0.15s;
    }
  }
  .checkbox {
    display: none !important;
  }
  .checkbox:checked ~ .label {
    border-color: transparent;
    background: var(--checkbox-border-color);
    animation: jelly 0.6s ease;
  }

  .checkbox:checked ~ .label:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
  }
}
@keyframes jelly {
  from {
    transform: scale(1, 1);
  }

  30% {
    transform: scale(1.25, 0.75);
  }

  40% {
    transform: scale(0.75, 1.25);
  }

  50% {
    transform: scale(1.15, 0.85);
  }

  65% {
    transform: scale(0.95, 1.05);
  }

  75% {
    transform: scale(1.05, 0.95);
  }

  to {
    transform: scale(1, 1);
  }
}
//=================================================
.wipe-checkbox {
  --border-color: #3d6856;
  --border-radius: 10px;
  --f-size: 30px;
  --checkbox-main-color: #2dc38c;
  --checkbox-radius: 8px;

  .container {
    align-self: flex-start;
    font-size: var(--f-size);
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    border: 3px solid var(--border-color);
    border-radius: var(--border-radius);
    overflow: hidden;

    input {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: relative;
      top: 0;
      left: 0;
      height: 1.3em;
      width: 1.3em;
      background-color: var(--checkbox-main-color);
      border-bottom: 1.5px solid var(--checkbox-main-color);
      box-shadow:
        0 0 1px #cef1e4,
        inset 0 -2.5px 3px #62eab8,
        inset 0 3px 3px rgba(0, 0, 0, 0.34);
      border-radius: var(--checkbox-radius);
      transition: transform 0.3s ease-in-out;

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 30%;
        height: 50%;
        translate: -50% -75%;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
      &::after {
        content: "";
        position: absolute;
        display: none;
      }
    }
  }
  .container input:checked ~ .checkmark {
    transform: translateY(100%);
    animation: wipeDown 0.3s ease-in-out forwards;
  }

  .container input:not(:checked) ~ .checkmark {
    transform: translateY(-100%);
    animation: wipeUp 0.3s ease-in-out forwards;
  }
  .container input:checked ~ .checkmark:after {
    display: block;
  }
}
@keyframes wipeDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes wipeUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
//***************************************************
//RADIO
.move-radio {
  --gap: 10px;
  --radio-diametr: 40px;
  --radio-border-color: #000;

  display: flex;
  column-gap: var(--gap);

  .radio {
    appearance: none;
    display: block;
    width: var(--radio-diametr);
    height: var(--radio-diametr);
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--radio-border-color);
    background-image: radial-gradient(
      hsla(200, 100%, 90%, 1) 0%,
      hsla(200, 100%, 70%, 1) 15%,
      hsla(200, 100%, 60%, 0.3) 28%,
      hsla(200, 100%, 30%, 0) 70%
    );
    background-repeat: no-repeat;
    transition:
      background-position 0.15s cubic-bezier(0.8, 0, 1, 1),
      transform 0.3s cubic-bezier(0.8, 0, 1, 1);
    outline: none;
    background-position: var(--radio-diametr) 0;
    // у вертикальному розташування раідо
    // background-position: 0 var(--radio-diametr);

    &:checked {
      transition:
        background-position 0.2s 0.15s cubic-bezier(0, 0, 0.2, 1),
        transform 0.3s cubic-bezier(0, 0, 0.2, 1);
      background-position: 0 0;
    }
    &:active {
      transform: scale(1.3);
      transition: transform 0.1s cubic-bezier(0, 0, 0.2, 1);
      background-position: var(--radio-diametr) 0;
      // у вертикальному розташування раідо
      // background-position: 0 var(--radio-diametr);
    }
  }
  .radio:checked ~ .radio,
  .radio:checked ~ .radio:active {
    background-position: calc(-1 * var(--radio-diametr)) 0;
  }
}
.pulse-radio {
  --gap: 10px;

  --label-gap: 15px;
  --label-padding: 20px;
  --label-bg-radius: 10px;
  --label-bg-color: #2a2e3c;
  --label-border-color: #435dd8;
  --label-bg-checked: #6c7dac;

  --radio-diametr: 18px;
  --radio-bg-color: #3b3b56;
  --radio-bg-checked: #5973f5;

  display: flex;
  flex-direction: column;
  gap: var(--gap);

  &__label {
    display: flex;
    align-items: center;
    gap: var(--label-gap);
    padding: var(--label-padding);
    position: relative;
    cursor: pointer;

    //щоб фон пропав закоментуй 3 блоки: &::before &:hover::before &:has(input:checked)::before
    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 95%;
      z-index: -1;
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      border-radius: var(--label-bg-radius);
      border: 2px solid transparent;
    }
    &:hover::before {
      transition: all 0.2s ease;
      background-color: var(--label-bg-color);
    }
    &:has(input:checked)::before {
      background-color: var(--label-bg-checked);
      border-color: var(--label-border-color);
      height: 100%;
    }
    input[type="radio"] {
      background-color: var(--radio-bg-color);
      appearance: none;
      width: var(--radio-diametr);
      height: var(--radio-diametr);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    input[type="radio"]:checked {
      background-color: var(--radio-bg-checked);
      animation: pulse 0.7s forwards;
    }
    input[type="radio"]::before {
      content: "";
      width: 40%;
      height: 40%;
      border-radius: 50%;
      transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
      background-color: #fff;
      transform: scale(0);
    }
    input[type="radio"]:checked::before {
      transform: scale(1);
    }
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(32, 18, 75, 0.4);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(32, 18, 75, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(32, 18, 75, 0);
  }
}
//***************************************************
//RATING
.rating {
  --star-width: 30px;
  --unchecked-star-color: #666;
  --checked-star-color: #e58d09bf;
  --hover-star-color: #7309e5;
}
.rating:not(:checked) > input {
  position: absolute;
  appearance: none;
}
.rating:not(:checked) > label {
  float: right;
  cursor: pointer;
  font-size: var(--star-width);
  color: var(--unchecked-star-color);
}
.rating:not(:checked) > label:before {
  content: "★";
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: var(--hover-star-color);
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ff9e0b;
}
.rating > input:checked ~ label {
  color: var(--checked-star-color);
}
//==================================================
.star-rating {
  --unchecked-star-bg: #2d2020;
  --checked-star-bg: #ff001e;
  --star-width: 60px;

  display: inline-block;

  input {
    display: none;
  }

  label {
    float: right;
    cursor: pointer;
    color: var(--unchecked-star-bg);
    transition: color $transition-duraction;

    &::before {
      content: "\2605";
      font-size: var(--star-width);
    }
  }

  input:checked ~ label,
  label:hover,
  label:hover ~ label {
    color: var(--checked-star-bg);
    transition: color $transition-duraction;
  }
}
//***************************************************
//SELECT
.select {
  $button-padding-block: 20px;
  $button-padding-inline: 26px;
  $radius: 8px;
  $select-bg: #fff;
  $option-padding: calc($button-padding-inline / 2);
  $option-hover-bg: #f2f2f2;

  max-width: clamp(50px, 100%, 300px);

  &__native {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    pointer-events: none;
  }

  &__btn {
    min-width: 200px;
    display: flex;
    background: $select-bg;
    padding-block: $button-padding-block;
    padding-inline: $button-padding-inline;
    border-radius: $radius;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    i {
      // для стрілки
      transition: 0.3s;
    }
  }
  &__options {
    max-width: clamp(50px, 100%, 300px);
    overflow-y: auto;
    padding-block: 10px;
    padding-inline: calc($button-padding-inline / 2);
    margin-top: 10px;
    border-radius: $radius;
    background: $select-bg;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation-name: fadeInDown;
    animation-duration: 0.3s;
    animation-fill-mode: both;
  }
  &__option {
    display: flex;
    cursor: pointer;
    padding: $option-padding;
    border-radius: $radius;
    align-items: center;
    background: $select-bg;
    &:hover {
      background: $option-hover-bg;
    }
  }
}
.select.active {
  .select__btn {
    i {
      transform: rotate(-180deg);
    }
  }
  .select__options {
    display: block;
    opacity: 0;
    z-index: 10;
    animation-name: fadeInUp;
    animation-duration: 0.3s;
    animation-fill-mode: both;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}
