* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  scrollbar-gutter: stable;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
}

button,
select,
option {
  cursor: pointer;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*******************************************************************************************/
body {
  background-color: #393636;
  height: 100%;
}

.main {
  height: 100svh;
}
.main__section {
  padding: 100px;
}
.main__title {
  font-size: 2rem;
  text-align: center;
  color: #fff;
}
.main__content {
  display: grid;
  grid-template-columns: repeat(4, 1fn);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 2rem;
}efore, .rotate span:after, .burger:after, .burger:before, .burger span {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #000;
  width: 40px;
  height: 3px;
  border-radius: 0;
}

@media (max-width: 1024.9px) {
  .burger {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
  }
}
.burger span {
  margin-top: -1.5px;
}
.burger:before {
  content: "";
  margin-top: -16.5px;
}
.burger:after {
  content: "";
  margin-top: 13.5px;
}
@media (min-width: 1024.9px) {
  .burger {
    display: none;
  }
}

.translate-center span {
  -webkit-transition: 0.2s ease-in-out 0.2s;
  transition: 0.2s ease-in-out 0.2s;
}
.translate-center:before, .translate-center:after {
  -webkit-transition: margin 0.2s ease-in-out 0.2s, -webkit-transform 0.2s ease-in-out 0s;
  transition: margin 0.2s ease-in-out 0.2s, -webkit-transform 0.2s ease-in-out 0s;
  transition: margin 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out 0s;
  transition: margin 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out 0s, -webkit-transform 0.2s ease-in-out 0s;
}
.translate-center.active span {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.translate-center.active:before, .translate-center.active:after {
  margin-top: 0;
  -webkit-transition-delay: 0s, 0.25s, 0.25s;
          transition-delay: 0s, 0.25s, 0.25s;
}
.translate-center.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.translate-center.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.rotate:before, .rotate:after {
  display: none;
}
.rotate span {
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}
.rotate span:before, .rotate span:after {
  content: "";
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  top: 0;
  left: 0;
}
.rotate span:before {
  -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
          transform: translateY(-15px);
}
.rotate span:after {
  -webkit-transform: translateY(15px);
      -ms-transform: translateY(15px);
          transform: translateY(15px);
}
.rotate.active span {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.rotate.active span:before, .rotate.active span:after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.midle-hidden:before, .midle-hidden:after,
.midle-hidden span {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.midle-hidden.active:before {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-top: -1.5px;
}
.midle-hidden.active:after {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-top: -1.5px;
}
.midle-hidden.active span {
  opacity: 0;
  -webkit-transform: translateX(150%);
      -ms-transform: translateX(150%);
          transform: translateX(150%);
}

.both-hidden:before, .both-hidden:after {
  -webkit-transition: 0.2s ease 0.2s;
  transition: 0.2s ease 0.2s;
}
.both-hidden:after {
  left: auto;
  right: 0;
}
.both-hidden span {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.both-hidden span:before {
  content: "";
  -webkit-transition: inherit;
  transition: inherit;
  left: 0;
  top: 0;
}
.both-hidden.active:before, .both-hidden.active:after {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  width: 0;
}
.both-hidden.active span {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.2s ease 0.2s;
  transition: 0.2s ease 0.2s;
}
.both-hidden.active span:before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.dott:before, .dott:after {
  -webkit-transition-property: margin, opacity;
  transition-property: margin, opacity;
  -webkit-transition-duration: 0.25s, 0s;
          transition-duration: 0.25s, 0s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
.dott span {
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}
.dott.active span {
  width: 12.00120012px;
  height: 12.00120012px;
  margin-top: -6.00060006px;
  left: 12.00120012px;
  border-radius: 50%;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
.dott.active:before, .dott.active:after {
  margin-top: 0;
  opacity: 0;
  -webkit-transition-delay: 0s, 0.25s;
          transition-delay: 0s, 0.25s;
}

.arrow-right:before, .arrow-right:after {
  display: none;
}
.arrow-right span {
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}
.arrow-right span:before, .arrow-right span:after {
  content: "";
  top: 0;
  left: 0;
  -webkit-transition: inherit;
  transition: inherit;
  margin: 0;
}
.arrow-right span:before {
  -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
          transform: translateY(-15px);
}
.arrow-right span:after {
  -webkit-transform: translateY(15px);
      -ms-transform: translateY(15px);
          transform: translateY(15px);
}
.arrow-right.active span {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.arrow-right.active span:before, .arrow-right.active span:after {
  width: 20px;
  left: 0.8px;
}
.arrow-right.active span:before {
  -webkit-transform: rotate(-45deg) translateY(-8.8px);
      -ms-transform: rotate(-45deg) translateY(-8.8px);
          transform: rotate(-45deg) translateY(-8.8px);
}
.arrow-right.active span:after {
  -webkit-transform: rotate(45deg) translateY(8.8px);
      -ms-transform: rotate(45deg) translateY(8.8px);
          transform: rotate(45deg) translateY(8.8px);
}

.arrow-left:before, .arrow-left:after {
  display: none;
}
.arrow-left span {
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}
.arrow-left span:before, .arrow-left span:after {
  content: "";
  top: 0;
  right: 0;
  left: auto;
  -webkit-transition: inherit;
  transition: inherit;
  margin: 0;
}
.arrow-left span:before {
  -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
          transform: translateY(-15px);
}
.arrow-left span:after {
  -webkit-transform: translateY(15px);
      -ms-transform: translateY(15px);
          transform: translateY(15px);
}
.arrow-left.active span {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.arrow-left.active span:before, .arrow-left.active span:after {
  width: 20px;
  right: 0.8px;
}
.arrow-left.active span:before {
  -webkit-transform: rotate(-45deg) translateY(8.8px);
      -ms-transform: rotate(-45deg) translateY(8.8px);
          transform: rotate(-45deg) translateY(8.8px);
}
.arrow-left.active span:after {
  -webkit-transform: rotate(45deg) translateY(-8.8px);
      -ms-transform: rotate(45deg) translateY(-8.8px);
          transform: rotate(45deg) translateY(-8.8px);
}

.button {
  width: min(100%, 480px);
  position: relative;
  left: 0;
  right: 0;
  padding-block: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2b9ee7;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 150%;
  border-radius: 20px;
  border: 2px solid #6cafd9;
  background: #c9e4ea;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}

.header {
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  z-index: 50;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  padding-block: 22px;
}
@media (max-width: 1466px) {
  .header__content {
    padding-block: calc(12px + (10) * (100vw - 320px) / (1146));
  }
}
.header__logo {
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
  font-size: 1.8rem;
}

.header.scrolling {
  background: rgba(79, 79, 84, 0.2);
  backdrop-filter: blur(18px);
}

.header.hidden {
  opacity: 0;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
}

.logo {
  width: 180px;
}
@media (max-width: 1466px) {
  .logo {
    width: calc(90px + (90) * (100vw - 320px) / (1146));
  }
}
.logo {
  height: 52px;
}
@media (max-width: 1466px) {
  .logo {
    height: calc(25px + (27) * (100vw - 320px) / (1146));
  }
}
.logo {
  overflow: hidden;
}
.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.logo--footer {
  width: 250px;
}
@media (max-width: 1466px) {
  .logo--footer {
    width: calc(125px + (125) * (100vw - 320px) / (1146));
  }
}
.logo--footer {
  height: 72px;
}
@media (max-width: 1466px) {
  .logo--footer {
    height: calc(32px + (40) * (100vw - 320px) / (1146));
  }
}

.menu {
  --gradient: linear-gradient(0deg, #ffb99a 0%, #ffdbc5 100%);
}
@media (max-width: 1024.9px) {
  .menu__body {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100svh;
    width: 100%;
    padding: 100px 30px 30px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    background: var(--gradient);
    overflow-y: auto;
    z-index: 2;
  }
}
.menu__body::before {
  content: "";
  position: fixed;
  width: 100%;
  min-height: 80px;
  left: -100%;
  top: 0;
  backdrop-filter: blur(5px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 4;
}
@media (max-width: 1024.9px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2rem;
  }
}
@media (min-width: 1024.9px) {
  .menu__list {
    padding-block: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 1.5rem;
    -webkit-column-gap: 64px;
       -moz-column-gap: 64px;
            column-gap: 64px;
  }
}
@media (min-width: 1024.9px) and (max-width: 1466px) {
  .menu__list {
    -webkit-column-gap: calc(32px + (32) * (100vw - 320px) / (1146));
       -moz-column-gap: calc(32px + (32) * (100vw - 320px) / (1146));
            column-gap: calc(32px + (32) * (100vw - 320px) / (1146));
  }
}
.menu__link {
  display: inline-block;
  font-weight: 400;
  color: #000;
  font-size: 1.25rem;
}
@media (max-width: 1466px) {
  .menu__link {
    font-size: calc(1.5rem + (-0.25) * (100vw - 20rem) / (71.625));
  }
}

.menu__body.open {
  left: 0%;
}
.menu__body.open::before {
  left: 0;
}

.page {
  min-width: 320px;
  font-family: "Roboto";
  color: #000;
  background-color: #fff;
  font-weight: 400;
  overflow-x: clip;
  font-size: calc(0.875rem + (0.125) * (100vw - 20rem) / (27.99875));
}
@media (min-width: 767.98px) {
  .page {
    font-size: calc(1rem + (0.125) * (100vw - 47.99875rem) / (43.62625));
  }
}
@media (min-width: 1466px) {
  .page {
    font-size: 1.125rem;
  }
}

.page.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 1334px;
  margin-inline: auto;
  overflow-x: clip;
  padding-inline: 36px;
}
@media (max-width: 1466px) {
  [class*=__container] {
    padding-inline: calc(18px + (18) * (100vw - 320px) / (1146));
  }
}