@use "../../styles/scss/utils/index" as *;

$transition-duraction-long: 0.6s;
$border-color: #000;
$radius: 20px;
$bg-color: #fff;

.popup {
  left: 50vw;
  top: 50vh;
  translate: -50% -100px;
  opacity: 0;
  border: 1px solid $border-color;
  border-radius: $radius;
  overflow: hidden;

  display: none;
  transition: $transition-duraction-long allow-discrete;

  &__content {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg-color;
    width: clamp(280px, 90vw, 900px);
    // @include adaptive-property(width, 280, 0, 900);
    // @include adaptive-property(padding, 16, 0, 22);
  }
  &__close {
    --width: 36px;
    --height: 36px;
    --bg-color: #324052;

    position: absolute;
    width: var(--width);
    height: var(--height);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    right: 0;
    top: 0;

    span {
      position: relative;
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: calc(50% - 2px);
        left: calc(50% - 6px);
        width: 12px;
        height: 2px;
        border-radius: 4px;
        background-color: var(--bg-color);
      }
      &:before {
        rotate: -45deg;
      }
      &:after {
        rotate: 45deg;
      }
    }
  }
}
.popup::backdrop {
  opacity: 0;
  transition: $transition-duraction-long allow-discrete;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup[open] {
  display: block;
  opacity: 1;
  translate: -50% -50%;
  overflow-y: auto;
}
.popup[open]::backdrop {
  opacity: 1;
}
@starting-style {
  .popup[open] {
    opacity: 0;
    translate: -50% -100px;
  }
  .popup[open]::backdrop {
    opacity: 0;
    background-color: rgba($color: #000000, $alpha: 1);
  }
}
